<nav class="navbar container navbar-expand-lg bg-success ">
    <div class="container mb-2" >
    <div class=" d-flex justify-content-between " style="width:100%">
          <a class="navbar-brand" href="#" style="color:white"><i class="fa-solid fa-kitchen-set" style="color: white; margin-bottom: 10px;"></i>Cookpedia</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarNav" >
        <ul class="navbar-nav" >
          <li class="nav-item">
            <a class="nav-link active" routerLink="/" style="color:white">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/recipes" style="color:white">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/about" style="color:white">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/contact" style="color:white">Contact</a>
          </li>
          
        </ul>
        <div class="ms-auto dropdown">
            <button class="btn btn-transparent dropdown-toggle text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
              @if(isLogin==true) {
                <span class="ms-2">Hi, {{username}}</span>
              }
            </button>

            <ul class="dropdown-menu">
              @if(isLogin==true){
                <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                <li><a class="dropdown-item" routerLink="/saved-recipes">Your Collection</a></li>
                <li><a class="dropdown-item" (click)="logout()" >Logout</a></li>

              }
              @else {

                <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                <li><a class="dropdown-item" routerLink="/register">Register</a></li>
              }
              
            </ul>
          </div>
      </div>
    </div>
  </nav>
