<div class="container-fluid w-100 bg-success py-4">
    <div class="row w-100 p-3" style="color:white">
        <div class="col-md-4 w-full" >
            <h3><i class="fa-solid fa-kitchen-set" style="color: white; margin-bottom: 10px;"></i> Cookpedia</h3>
            <p style="text-align: justify;">Discover 100+ recipes in your hand with the best recipes. Help you to find the easiest way to cook</p>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-6">
            <h2>Sign up for our news letter</h2>
            <div class="d-flex mb-4">
                <input type="text" class="form-control me-3">
                <button class="btn btn-warning">Subscribe</button>
            </div>
            <div class="row">
                <div class="col-4">
                    <h4>Menu</h4>
                    <a routerLink = "/" style="color:white;text-decoration:none;margin-right: 10px;">Home</a>
                    <br>
                    <a routerLink = "/about" style="color:white;text-decoration:none;margin-right: 10px;">About</a>
                    <br>
                    <a routerLink = "/contact" style="color:white;text-decoration:none;margin-right: 10px;">Contact</a>
                    <br>
                    <a routerLink = "/recipes" style="color:white;text-decoration:none">Recipes</a>
                    <br>
                </div>
                <div class="col-4">
                    <h4>Help</h4>
                    <a routerLink = "/" style="color:white;text-decoration:none;margin-right: 10px;">Privacy & Policy</a><br>
                    <a routerLink = "/" style="color:white;text-decoration:none;margin-right: 10px;">Terms of Use</a><br>
                </div>
                <div class="col-4"><h4>Social</h4>
                    <a routerLink = "/" style="color:white;text-decoration:none;margin-right: 10px;">Facebook</a>
                <br>
                    <a routerLink = "/" style="color:white;text-decoration:none;margin-right: 10px;">Instagram</a>
                <br>
                    <a routerLink = "/" style="color:white;text-decoration:none;margin-right: 10px;">Twitter</a>
                <br>
                    <a routerLink = "/" style="color:white;text-decoration:none;margin-right: 10px;">Youtube</a>
                <br>
                </div>
            </div>
        </div>
    </div>
</div>
