<app-header></app-header>

<div class="container">
   <div class="row">
        <div class="col-md-6 bg-success d-flex justify-content-center py-4">
            <img src="https://www.pngkit.com/png/full/87-870696_sabzigadi-story-organic-cookbook-healthy-and-delicious-food.png" alt="" width="90%">
        </div>
        <div class="col-md-6 d-flex flex-column  justify-content-center align-items-center text-justify-left">
         <div>
                <h1 class="mb-2">Welcome to Cookpedia</h1>
                <p>Discover 100+ recipe in your hand with the best recipe.</p>
                <p>Help you to find easiest way to cook.</p>
         </div>
        </div>
   </div>

   <div class="row my-5">
    <div class="col-md-6 d-flex justify-content-center">
        <div>
            <h2>About us</h2>
            <p class="mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium nostrum earum numquam, explicabo veritatis alias optio fugiat porro, iste, inventore neque ad. Explicabo, atque laudantium.</p>
            <ul class="">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, non?</li>
                <li>Accusantium nostrum earum numquam, explicabo veritatis alias optio</li>
                <li>xplicabo veritatis alias optio fugiat porro, iste, inventore neque ad. Explicabo, atque laudantium.</li>
                <li>porro, iste, inventore neque ad. Explicabo, atque laudantium</li>
            </ul>
            <button class="btn btn-success mt-3">Know More about us</button>
        </div>

    </div>
    <div class="col-md-6 d-flex justify-content-center">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/046/822/681/small_2x/a-chef-in-uniform-holding-a-tray-of-food-isolated-on-a-transparent-background-png.png" alt="" width="80%">
    </div>
   </div>
</div>
