<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 p-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-10">
          @if(!id){<h1 class = "my-3 text-center">Add Recipes list</h1>}
          @else {<h1 class = "my-3 text-center">Edit Recipes list</h1>}
          <div class="container my-5 border p-5 shadow w-75 text-center">
            @if (recipeDetails.image){
                <img [src]="recipeDetails.image" alt="no image" width="100px" height="100px" class="mb-3 mt-0">
            }
            <div class="row">
                <div class="col-6">
                    <div class="mb-2">
                        <input [(ngModel)] ="recipeDetails.name" type="text" placeholder="Recipe Name" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input [(ngModel)] ="recipeDetails.prepTimeMinutes" type="text" placeholder="Recipe Preparation time in Minutes" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input [(ngModel)] ="recipeDetails.image" type="text" placeholder="Recipe Image url" class="form-control">
                    </div>
                    <div class="mb-2">
                        <label for="cuisine">Choose Cuisine type</label>
                    <select [(ngModel)] ="recipeDetails.cuisine" name="cuisine" id="cuisine">
                        <option selected hidden disabled>Choose Cuisine type</option>
                       @for(cuisine of cuisineArray; track $index){ <option [value]="cuisine">{{cuisine}}</option>}
                    </select>
                    </div>
                    <div class="mb-2">
<div class="d-flex align-items-center mb-2">
    <textarea #ingredientsInput class="form-control" placeholder="Add Recipe Ingredients"></textarea>
    <button class="btn btn-primary ms-1" (click)="addIngredients(ingredientsInput)">+</button>
</div>  @for(item of ingredients; track $index){
    <div class="d-flex align-items-center mb-2">
        <input type="text" [value]="item" class="form-control">
        <button class="btn ms-1"><i class="fa-solid fa-trash text-danger" (click)="removeIngredients(item)"></i></button>
    </div>
}                  </div>


                </div>
                <div class="col-6">
                    <div class="mb-2">
                        <input [(ngModel)] ="recipeDetails.servings" type="text" placeholder="Recipe Servings(ex: 4)" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input [(ngModel)] ="recipeDetails.cookTimeMinutes" type="text" placeholder="Recipe Cooking time in Minutes" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input [(ngModel)] ="recipeDetails.caloriesPerServing" type="text" placeholder="Recipe Calorie Per Servings (ex: 350)" class="form-control">
                    </div>
                    <div class="mb-2">
                        <label for="difficulty">Choose Mode of Cooking</label>
                    <select [(ngModel)] ="recipeDetails.difficulty" name="cuisine" id="difficulty">
                        <option selected disabled hidden>Choose Mode of Cooking</option>
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                    </div>
                    <div class="mb-2">
                        <div class="d-flex align-items-center mb-2">
                            <textarea #instructionInput class="form-control" placeholder="Cooking Instructions"></textarea>
                            <button (click)="addInstructions(instructionInput)" class="btn btn-primary ms-1">+</button>
                        </div>  
                        @for(item of instructions; track $index){
                            <div class="d-flex align-items-center mb-2">
                                <input type="text" [value]="item" class="form-control">
                                <button class="btn ms-1"><i class="fa-solid fa-trash text-danger" (click)="removeInstructions(item)"></i></button>
                            </div>
                        }                    
                    </div>


                </div>
                <div class="border rounded m-2 p-2">
                    <p class="mb-2">Choose Meal Type of the Recipe:
                        @if(id){
                            
                            @for(item of mealArray; track $index){
                                <span class="mx-2 border rounded p-1">{{item}}<button class="btn"><i class="fa-solid fa-close" (click)="removeMealType(item)"></i></button></span>
                            }
                        }@else{

                            @for(item of mealArray; track $index){
                                <span class="mx-2 border rounded p-1">{{item}}</span>
                            }
                        }
                    </p>
                    <div class="d-flex flex-wrap my-3">
                        @for(meal of mealTypeArray; track $index){                            
                        <div class="border rounded p-1 me-2 my-2">
                            <label for="meal">
                                <input type="checkbox" [name]="meal" [id]="meal" (change)="mealTypeSelect($event)">
                                {{meal}}
                            </label>
                        </div>}
                    </div>
                </div>
   @if(id){     <div class="d-flex justify-content-center">        
            <button class="btn btn-success w-auto text-center" (click)="editRecipe()">Edit Recipe</button></div>}
            @else {
                <div class="d-flex justify-content-center">        
                    <button class="btn btn-success w-auto text-center" (click)="addRecipe()">Add Recipe</button></div>
            }

                
            </div>
          </div>
        </div>
    </div>
</div>

